@model Anish.Models.EmployeeViewModel

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "EmployeeOne";
    Layout = null;
}

<div class="container" style="width:50%;margin-top:40px;">

    @*@Html.Partial("_LoginPartial")*@

    @*@{
        Html.RenderPartial("_LoginPartial", Model);
    }*@

    @*@{
        Html.RenderAction("ShowEmployee");
    }*@

    <table class="table table-responsive">
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Department</td>
            <td></td>
        </tr>

        <tbody>
            @if (ViewBag.EmployeeList != null)
            {
                foreach (var item in ViewBag.EmployeeList)
                {
                    <tr id="row_@item.EmployeeId">
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.DepartmentName</td>
                        <td><a href="#" class="btn btn-danger" onclick="confirmDelete(@item.EmployeeId)"><i class="glyphicon glyphicon-trash"></i></a></td>
                        <td><a href="#" class="btn btn-success" onclick="ShowEmployee(@item.EmployeeId)"><i class="glyphicon glyphicon-eye-close"></i></a></td>
                        <td><a href="#" class="btn btn-success" onclick="AddEditEmployee(@item.EmployeeId)"><i class="glyphicon glyphicon-pencil"></i></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Delete Employee</h3>
                </div>

                <div class="modal-body" id="myModalBodyDiv">
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Camcel</a>
                    <a href="#" class="btn btn-success" onclick="deleteEmploye()">Confirm</a>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add Edit Employee</h3>
                </div>

                <div class="modal-body" id="myModalBodyDiv1">
                </div>


            </div>
        </div>
    </div>


    <input type="hidden" id="hiddenEmployeeId" />
</div>



<script>

    var confirmDelete = function (EmployeeId) {
        $("#hiddenEmployeeId").val(EmployeeId);
        $("#myModal").modal("show");
    }


    var ShowEmployee = function(employeeId){
    
        $.ajax({

            type: "POST",
            url: "/EmployeeOne/ShowEmployee",
            data: { EmployeeId: employeeId },
            success: function (response) {
               
                $("#myModalBodyDiv").html(response);
                $("#myModal").modal("show");

            }
        });
    }


    var deleteEmploye = function () {
        $("#loader").show();

        var empId = $("#hiddenEmployeeId").val();

        $.ajax({
            type: "POST",
            url: "/EmployeeOne/DeleteEmployee",
            data: { EmployeeID: empId },
            success: function (result) {
                $("#loader").hide();
                $("#myModal").modal("hide");
                $("#row_" + empId).remove();

            }
        });
    }


    var AddEditEmployee = function(employeeId){

        var url = "/EmployeeOne/AddEditEmployee?EmployeeId="+employeeId
        $("#myModalBodyDiv1").load(url, function(){
            $("#myModal1").modal("show");
        });
    }


    //var AddEditEmployee=function(employeeId){
    //    var url="/Test/AddEditEmployee?EmployeeId="+employeeId;
    //    $("#myModalBodyDiv1").load(url,function(){
    //        $("#myModal1").modal("show");
    //    })
    //}


</script>

