@model Anish.Models.LoginViewModels

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>



<div class="panel panel-body">


    <div class="col-md-3">

        <div class="thumbnail">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Director Message</h3>
                </div>
            </div>

            <img src="~/Content/logo.png" alt="..." style="margin-top:-20px">
            <div class="caption">
                <h3>Mohsen Abbasi</h3>
                <p>&para; Have faith in us, We will give you full satisfaction by providing best service. &para;</p>
                <p><a href="#" class="btn btn-primary" role="button">See more</a> </p>
            </div>
        </div>

    </div>

    <div class="col-md-9">
        <form id="myForm" class="col-md-6">
 
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName" })
                    @Html.ValidationMessageFor(m => m.UserName, "Please enter username")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.EmailId, "")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.EmailId, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.EmailId, "")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary" onclick="logInUser()">Submit</a>
                </div>
            </div>

            <br />
            <h4 id="alert" class="alert alert-success" style="display:none;"><span class="glyphicon glyphicon-ok">   </span> you are successfuly registered</h4>

        </form>
    </div>
</div>



<script>

    var logInUser = function () {
        debugger
        var data = $("#myForm").serialize();

        //var UserName = $("#UserName").val();
        //var Password = $("#Password").val();

        //if (UserName = "" || UserName == undefined) {
        //    alert("please enter username");
        //    return false;
        //}

        //if (Password = "" || Password == undefined) {
        //    alert("please enter password");
        //    return false;
        //}
        
        //if (!$("#myForm").valid()) {
        //    return false;
        //}

        $.ajax({
            type: "POST",
            url: "/Divide/LoginUser",
            data: data,
            success: function(response) {

                if (respond == "fail") {
                    window.location.href = "/Divide/Registeration";
                }
                else if (respond == "Admin") {
                    window.location.href = "/Divide/Registeration";
                }
                else  {
                    window.location.href = "/Divide/Index";
                }
                //$("#alert").css('display', 'block');
            }
        });
    }

</script>


